@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;700;800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-400: #001f39;
  --color-primary-500: #003866;
  --color-primary-button: hsl(349, 100%, 61%);
  --color-primary-button-500: hsl(349, 100%, 68%);
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* classe utilitária seta no input */

.input-no-spinner {
  @apply appearance-none; /* Tailwind base */
}

.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-no-spinner {
  -moz-appearance: textfield;
}
